.ecosystem_section {
  padding: 100px 24px /*calc(79.5px * 3)*/;
  background-color: white;
  width: 100%;

  background-image: url("./../../../assets/icons/Algorithm_background_001.svg");

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.ecosystem_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ecosystem_header {
  flex: 1;
  min-width: 300px;
  position: relative;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
  color: #24292e;
  margin-bottom: 16px;
  max-width: 800px;
}

.highlight {
  color: #02817c;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #24292e;
  max-width: 378px;
  margin-bottom: 24px;
}

.cta_button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  width: 219px;
  align-items: center;
  justify-content: space-between;
  /* gap: 32px; */
  padding: 18px 22px;
  background-color: #00a19b;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta_button:hover {
  background-color: #01716d;
}

.cta_button img {
  width: 12px;
  height: auto;
}
.algorithm_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

.algorithm_box {
  max-width: 632px;
  border-radius: 20px;
  background-color: #f6f7f9;
  text-align: center;
  padding: 16px 0;
}

.algorithm_line {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 24px;
  padding-right: 24px;
  color: #000;
  width: auto;
  object-fit: contain;
  user-select: none;
}

.algorithm_box_percent {
  font-family: "Rethink Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: #02817c;
}

.algorithm_box_title {
  font-family: "Rethink Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #24292e;
  max-width: 190px;
  text-align: center;
  margin: 0 auto;
}

.algorithm_Formula {
  font-family: "Rethink Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #24292e;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.algorithm_Formula .highlight {
  font-weight: 600;
  color: #24292e;
}

@media (max-width: 1440px) {
  .title {
    font-size: 36px;
  }

}

@media (max-width: 1024px) {
  .title {
    font-size: 42px;
    text-align: center; /* центрируем текст */
    margin-left: auto; /* выравнивание самого блока */
    margin-right: auto; /* по центру */
  }


  .description{
    text-align: center; /* центрируем текст */
    margin-left: auto; /* выравнивание самого блока */
    margin-right: auto; /* по центру */
    max-width: 800px;
  }

  .cta_button {
    position: relative;
    margin-top: 48px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    gap: 12px;
    padding: 14px 18px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 15px;
  }
  .ecosystem_cards {
    flex-direction: column;
  }

  /* .card h3 {
    font-size: 16px;
    line-height: 1.3;
  }

  .card p {
    line-height: 1.3;
    font-size: 12px;
  } */
}

@media (max-width: 480px) {
  .ecosystem_section {
    padding: 40px 16px;
  }

  .ecosystem_content {
    gap: 24px;
  }

  .title {
    font-size: 28px;
    line-height: 1.3;
  }

  .description {
    font-size: 16px;
  }

  .cta_button {
    position: relative;
    margin-top: 48px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    gap: 12px;
    padding: 14px 18px;
    font-size: 15px;
  }

  .ecosystem_cards {
    flex-direction: column;
  }

  .card h3 {
    font-size: 16px;
    line-height: 1.3;
  }

  .card p {
    line-height: 1.3;
    font-size: 12px;
  }
}
