.ecosystem_section {
  padding: 100px 24px /*calc(79.5px * 3)*/;
  background-color: #f6f7f9;
  width: 100%;

  background-image: url("./../../../assets/icons/Shop_background_001.svg");

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center 100%;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  /* padding: 0 24px; */
}

.ecosystem_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ecosystem_cards {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 100%;
}

.cardBlock h2 {
  font-family: "Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.4;
  color: #24292e;
  padding-bottom: 16px;
}

.card {
  display: flex;
  position: relative;
  align-items: flex-start;
  gap: 20px;
  z-index: 2;
  /* width: 100%; */
  border-radius: 12px;
  background-color: white;
  padding: 16px;
}

.card img {
  border-radius: 8px;
  width: 90px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.cardText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0 0 8px 0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: #24292e;
}

.comingSoon {
  font-family: "Rethink Sans", sans-serif;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.4;
  color: #e9a23b;
  padding: 4px 8px;
  border-radius: 100px;
  background-color: #fbeeb5;
}

.card p {
  margin: 0;
  max-width: 500px;

  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  color: #24292e;
}

@media (max-width: 1440px) {
  .title {
    font-size: 36px;
  }
}

@media (max-width: 1024px) {
  .ecosystem_section {
    padding: 60px 24px;
  }

  .ecosystem_cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    min-width: 644px;
  }

  .cardBlock h2 {
    text-align: center;
  }

  .title {
    text-align: center;
    font-size: 42px;
    text-align: center; /* центрируем текст */
    margin-left: auto; /* выравнивание самого блока */
    margin-right: auto; /* по центру */
  }

  .description {
    text-align: center; /* центрируем текст */
    margin-left: auto; /* выравнивание самого блока */
    margin-right: auto; /* по центру */
    max-width: 800px;
  }

  .cta_button {
    position: relative;
    margin-top: 48px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    gap: 12px;
    padding: 14px 18px;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .description {
    font-size: 15px;
  }

  .card {
    min-width: 444px;
  }
}

@media (max-width: 480px) {
  .ecosystem_section {
    padding: 40px 16px;
  }

  .ecosystem_content {
    gap: 24px;
  }

  .title {
    font-size: 28px;
    line-height: 1.3;
  }

  .description {
    font-size: 16px;
  }

  .cta_button {
    position: relative;
    margin-top: 48px;
    margin-bottom: 20px;
    width: 100%;
    justify-content: center;
    gap: 12px;
    padding: 14px 18px;
    font-size: 15px;
  }

  .ecosystem_cards {
    flex-direction: column;
  }

  .cardBlock h2 {
    text-align: center;
  }

  .card {
    min-width: 380px;
  }

  .card h3 {
    font-size: 16px;
    line-height: 1.3;
  }

  .card p {
    line-height: 1.3;
    font-size: 12px;
  }
}
