.ecosystem_section {
  padding: 100px 24px /*calc(79.5px * 3)*/;
  background-color: white;
  width: 100%;
}

.container {
  max-width: 1280px;
  margin: 0 auto; /* центрирует */
  width: 100%;
}

.ecosystem_content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.ecosystem_header {
  flex: 1;
  min-width: 300px;
  position: relative;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 42px;
  font-weight: 600;
  line-height: 1.4;
  color: #24292e;
  margin-bottom: 16px;
  max-width: 800px;
}

.highlight {
  color: #02817c;
}

.description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  color: #24292e;
  max-width: 670px;
  margin-bottom: 24px;
}

.cta_button {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 18px 22px;
  background-color: #00a19b;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta_button:hover {
  background-color: #01716d;
}

.cta_button img {
  width: 12px;
  height: auto;
}

.ecosystem_cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.card {
  /* max-width: 630px; */
  width: 100%;
  border-radius: 12px;
  background-color: #f6f7f9;
  padding: 32px;
}

.card img {
  border-radius: 8px;
  width: 566px;
  height: auto;
}

.card h3 {
  padding-top: 24px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  color: #24292e;
}

.card p {
  padding-top: 16px;
  max-width: 560px;

  font-weight: 400;
  line-height: 1.4;
  font-size: 18px;
  color: #24292e;
}
